h1 {
  font-family: "Special Elite", cursive;
  color: white;
  text-align: center;
  font-weight: bolder;
  padding-bottom: 2%;
  padding-top: 2%;
}
.overlay {
  background-color: rgba(126, 223, 218, 0.301);
  border-radius: 0px;
  margin: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}
#name {
  color: rgba(81, 221, 198, 0.856);
}
.all-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#quotes-button {
  float: right;
}
.card {
  margin-bottom: 2%;
  background-color: aliceblue;
}
